.toggle{
    width: 50px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid #999;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    flex-shrink: 0;

    .t_icon{
        width: 15px;
        height: 15px;
    }

    .t_button{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #999;
        position: absolute;
        cursor: pointer;
    }
}